@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>永續發展整合資訊網 整合平台</title>
    <frameset rows="60,*" frameborder="no" border="0">
      <frame name="top" src="@Url.Action("Top", "Admin")"> 
<frameset id="mainFrameset" frameborder="no" cols="17%,12px,*" border="0">
   <frame name="treefrm" target="mainfrm" src="@Url.Action("LeftMenu", "Admin")" scrolling="auto" marginwidth="0" marginheight="0">
  <frame name="togglefrm"  src="@Url.Action("Toggle", "Admin")" scrolling="auto" marginwidth="0" marginheight="0">
  <frame name="mainfrm" src="@Url.Action("Welcome", "Admin")" scrolling="auto" marginwidth="0" marginheight="0">
</frameset>
</frameset>
</head>
<body>
    <form id="formAdminIndex" runat="server">
    <div>
    </div>
    </form>
</body>
</html>