@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    SessionHelper m_SessionHelper = new SessionHelper();
}
@using FTISWeb.Helper;
@using System.Web.Script.Serialization
@using FTISWeb.Utility;
@using System.Web.Optimization

@{
    JavaScriptSerializer m_JsonConvert = new JavaScriptSerializer();
    string m_Cdts = (string)ViewData["Conditions"];
    IDictionary<string, string> m_Conditions = m_JsonConvert.Deserialize<IDictionary<string, string>>((string)ViewData["Conditions"]);

    @*權限*@
    bool AllowRead = (bool)ViewData["AllowRead"];
    bool AllowCreate = (bool)ViewData["AllowCreate"];
    bool AllowEdit = (bool)ViewData["AllowEdit"];
    bool AllowDelete = (bool)ViewData["AllowDelete"];
 }

@section TitleContent{}
@section HeadContent{        
    <script>
        $(function () {
            //按下查詢鈕
            $("#btnQuery").click(function () {
                $("#dvGrid").load('@Url.Action("RefreshAdminGrid", "NewsClass")', {
                    keyWord: $("#KeyWord").val()
                });
            });
        });
    </script>
}

<fieldset class="fieldset">
    <h1>新聞動態分類管理</h1>
    <table style="width: 100%" class="FormTable">
        <tr>
            <td style="width:100px; text-align:right;">關鍵字：
            </td>
            <td >
                @Html.TextBox("KeyWord", m_Conditions["KeyWord"])
                <input type="button" class="btn" value="查詢" id="btnQuery" />
            </td>
        </tr>        
    </table>
    <br />
    <table>
        <tr>            
            <td style="text-align:left;">
                @Html.Raw(Url.ButtonLink("新增", "Create", "NewsClass", AllowCreate, new { cdts = m_Cdts }, new { @class = "btn" }))

                <input type="button" class="btn" value="刪除" id="btnDeleteAll" />
            </td>
        </tr>  
    </table>
    <div id="dvGrid">
        @Html.Partial("AdminGridList")
    </div>
</fieldset>
