@{
    SessionHelper m_SessionHelper = new SessionHelper();
}
@using FTISWeb.Helper;
@using System.Web.Script.Serialization
@using FTISWeb.Utility;
@{
    JavaScriptSerializer m_JsonConvert = new JavaScriptSerializer();
    string m_Cdts = (string)ViewData["Conditions"];
    IDictionary<string, string> m_Conditions = m_JsonConvert.Deserialize<IDictionary<string, string>>((string)ViewData["Conditions"]);

    @*權限*@
    bool AllowRead = (bool)ViewData["AllowRead"];
    bool AllowCreate = (bool)ViewData["AllowCreate"];
    bool AllowEdit = (bool)ViewData["AllowEdit"];
    bool AllowDelete = (bool)ViewData["AllowDelete"];    
 }
<script>
        $(function () {
            //建立資料來源物件
            var dataSrc = new kendo.data.DataSource({
                transport: {
                    read: {
                        //以下其實就是$.ajax的參數
                        type: "POST",
                        url: "/NewsClass/AjaxBinding",
                        dataType: "json",
                        data: {
                            //額外傳至後方的參數
                            keyWord: function () {
                                return $("#KeyWord").val();
                            }
                        }
                    }
                },
                schema: {
                    //取出資料陣列
                    data: function (d) { return d.data; },
                    //取出資料總筆數(計算頁數用)
                    total: function (d) { return d.total; }
                },
                pageSize: Number('@AppSettings.AdminPageSize'),
                serverPaging: true,
                serverSorting: true
            });
            //JSON日期轉換
            //var dateRegExp = /^\/Date\((.*?)\)\/$/;
            //window.toDate = function (value) {
            //    var date = dateRegExp.exec(value);
            //    return new Date(parseInt(date[1]));
            //}
            $("#dvGrid").kendoGrid({
                dataSource: dataSrc,
                columns: [
                    {
                        fiels: "NewsClassId",
                        headerTemplate: "<input type='checkbox' onchange='ToggleAll(this);' id='ToggleCheckbox'/>",
                        template: "<input type='checkbox' value='#= NewsClassId#' name='IsDelete' class='IsDelete' classId='#= NewsClassId#' />",
                        sortable: false,
                        attributes: { "style": "text-align: center;" },
                        width: 50
                    },
                    {
                        field: "Name",
                        title: "分類名稱",
                        template: '#= "<span class=\\"u-name\\">" + Name + "</span>" #',
                        sortable: true
                    },
                    {
                        field: "NameENG",
                        title: "分類名稱(英)",
                        template: '#= "<span class=\\"u-name\\">" + NameENG + "</span>" #',
                        sortable: true
                    },
                    {
                        field: "SortId",
                        title: "排序",
                        sortable: true,
                        attributes: { "style": "text-align: center;" }
                    },
                    {
                        field: "GetStr_Status",
                        title: "狀態",
                        sortable: true,
                        attributes: { "style": "text-align: center;" }
                    },
                    {
                        command: [
                            {
                                text: "編輯",
                                click: EditGridItem
                            },
                            {
                                text: "刪除",
                                click: DeleteGridItem
                            }                            
                        ],
                        width: 160,
                        title: "操作"
                    }
                    @*{
                        title: "操作",
                        template: "<a href='@Url.Action("Edit", "NewsClass")?id=#= NewsClassId #&cdts=@m_Cdts'>修改</a> ",
                        attributes: { "style": "text-align: center;" }
                    }*@
                ],
                editable: "popup",
                sortable: true,
                pageable: {
                    refresh: true
                    //, pageSizes: true
                },
                scrollable: false,
                dataBound: function () {
                    //AJAX資料Bind完成後觸發
                    var kw = $("#KeyWord").val();
                    //若有設關鍵字，做Highlight處理
                    if (kw.length > 0) {
                        var re = new RegExp(kw, "g");
                        $(".u-name").each(function () {
                            var $td = $(this);
                            $td.html($td.text()
                           .replace(re, "<span class='hi-lite'>$&</span>"));
                        });
                    }
                }
            });            
        });

        //全選，全不選
        function ToggleAll(sender) {
            if ($(sender).prop('checked')) {
                SelectAll('#dvGrid');
                return;
            } else {
                ClearSelect('#dvGrid');
            }
        }

        function DeleteGridItem(e) {
            e.preventDefault();
            var dataItem = $('#dvGrid').data().kendoGrid.dataItem($(e.currentTarget).closest("tr"));            
            DeleteItem(dataItem.NewsClassId, dataItem.Name);
        }

        function EditGridItem(e) {
            e.preventDefault();
            var dataItem = $('#dvGrid').data().kendoGrid.dataItem($(e.currentTarget).closest("tr"));
            location.href = '@Url.Action("Edit", "NewsClass", new { cdts = m_Cdts })&id=' + dataItem.NewsClassId;
        }

    </script>