@{
    Layout = null;
}
@using System.Web.Optimization

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>永續發展整合資訊網 整合平台</title>
    @Styles.Render("~/Content/Admin/LogOnCSS")
</head>
<body>
</body>
</html>
