@model FTISWeb.Models.FreeGOModel

<script type="text/javascript">
    $(function () {
        alert('提醒您，欄位：「@Model.Title」輸入的內容可能不符合無障礙標準，您可以參考頁面最下方的提示。');
        @*window.open('@Url.Action("Show", "FreeGO", new { htmlValue = Model.HtmlValue })', 'newwindow', 'height=600, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=yes, resizable=yes,location=yes, status=yes');*@
    });
</script>
<div>
    @(new HtmlString(Model.Msg))
</div>
