<div id="In-leftTitle"><img src="@Url.Content("~/in-image/left-title-a8.png")" alt="問卷調查"/></div>
<a href="@Url.Action("Index", "Examination")">
    <div class="Left-sbtn">網站滿意度調查</div></a>
    <a href="@Url.Action("Index", "EpaperExamination")">
    <div class="Left-sbtn">電子報滿意度調查</div></a>
