<div id="In-flash">
      <script type="text/javascript">
          AC_FL_RunContent('codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', 'width', '253', 'height', '152', 'src', 'isdn/swf/inflash', 'quality', 'high', 'pluginspage', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', 'movie', '/isdn/swf/inflash'); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="253" height="152">
        <param name="movie" value="/isdn/swf/inflash.swf" />
        <param name="quality" value="high" />
        <embed src="/isdn/swf/inflash.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="253" height="152"></embed>
      </object>
    </noscript></div>