<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--四季,節慶樣版幾天前顯示-->
    <add key="TemplateBeforeDays" value="7" />
    <!--上傳實體檔案路徑-->
    <!--<add key="UploadPath" value="D:\TestUpload\"/>-->
    <!--CKFinder上傳實體檔案路徑BaseDir+BaseUrl，如果BaseDir給空白，就會用BaseUrl相對路徑-->
    <add key="CKFinderBaseDir" value="E:/www/FTIS/Release/Web/Upload/" />
    <add key="CKFinderBaseUrl" value="/ckfinder/" />
    <add key="CKFinderFileHandler" value="http://demo.yummydesign.com.tw/FileHandle/GetFromCKFinder/?path=" />
    <add key="CKFinderFileHandlerByEncrypt" value="http://demo.yummydesign.com.tw/FileHandle/GetFromCKFinderByEncrypt/?encryptPath=" />
    <!--加解密設定-->
    <add key="EncryptKey" value="1qaz2wsx" />
    <add key="EncryptIV" value="3edc4rfv" />
  </appSettings>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="file://~/App_Data/WuDada.Core.AdoTemplate.xml" />
      <resource uri="file://~/App_Data/WuDada.Core.HibernateTemplate.xml" />
      <resource uri="file://~/App_Data/FTIS.SQLServer.xml" />
      <resource uri="file://~/App_Data/objects.xml" />
      <resource uri="assembly://WuDada.Core/WuDada.Core.SpringConfig/WuDada.Core.objects.xml" />
      <resource uri="assembly://FTIS/FTIS.SpringConfig/FTIS.objects.xml" />
    </context>
    <objects xmlns="http://www.springframework.net" />
  </spring>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <!-- 資料庫的設定-->
  <!--for local mysql & local ms-sqlserver-->
  <databaseSettings>
    <add key="db.datasource" value="CLINIC-13DDEDA0\SQLEXPRESS2008R2;Initial Catalog=ftis;Persist Security Info=True" />
    <add key="db.user" value="sa" />
    <add key="db.password" value="abc+1234" />
  </databaseSettings>
  <system.web>
    <!--<httpRuntime targetFramework="4.0" />
    <compilation targetFramework="4.0" />-->
    <customErrors mode="Off"></customErrors>
    <compilation debug="true"  />
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/LogOn/LogOn" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcPaging" />
      </namespaces>
    </pages>
    <httpRuntime executionTimeout="3600" maxRequestLength="102400"
     appRequestQueueLimit="100" requestValidationMode="2.0"
     requestLengthDiskThreshold="10024000"/>
    <sessionState mode="InProc" timeout="30"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <log4net>
    <!-- Define some output appenders -->
    <!--<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <target value="Console.Out"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p: %m" />
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1" />
      <param name="RemotePort" value="8081" />
      <layout type="log4net.Layout.PatternLayout" value="{%level}%date{MM/dd HH:mm:ss} - %message" />
    </appender>
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender">
      <!--The remoting URL to the remoting server object-->
      <sink value="tcp://127.0.0.1:7070/LoggingSink" />
      <!--Send all events, do not discard events when the buffer is full-->
      <lossy value="false" />
      <!--The number of events to buffer before sending-->
      <bufferSize value="5" />
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/Log/Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="Error" />
      <!--ALL-->
      <!-- <appender-ref ref="RemotingAppender"/> -->
      <appender-ref ref="UdpAppender" />
      <appender-ref ref="TraceAppender" />
      <!--<appender-ref ref="RollingFileAppender"/>-->
    </root>
    <logger name="NHibernate">
      <level value="Error" />
    </logger>
    <logger name="Spring">
      <level value="Error" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.4000" newVersion="3.2.0.4000" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>